<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id), method: :get %>
  <div class="card__body">
    <%= link_to prototype.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user.id), class: :card__user %>
  </div>
</div>