<main class="main">
  <div class="inner">
        <% if user_signed_in? %>
          <div class="greeting">
          <%= link_to "#{current_user.name }さん、こんにちは!", user_path(current_user.id), class: :greeting__link %>
          </div>       
        <% end %>
     


  </div>

      <div class="card__wrapper">
    
      <%= render partial: 'prototype', collection: @prototypes %>

    </div>
</main>

